<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Asistencia</title>

    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.5.0.min.js"></script>
</head>
<body>
<h3>ASISTENCIA3-39.svg</h3>
<img src="images/ASISTENCIA3-39.svg" height="70px">
<h3>ASISTENCIA3-23.svg</h3>
<img src="images/ASISTENCIA3-23.svg" height="70px">
<h3>ASISTENCIA3-25.svg</h3>
<img src="images/ASISTENCIA3-25.svg" height="70px">
<h3>ASISTENCIA3-26.svg</h3>
<img src="images/ASISTENCIA3-26.svg" height="70px">
<h3>ASISTENCIA3-38.svg</h3>
<img src="images/ASISTENCIA3-38.svg" height="70px">
<h3>ASISTENCIA2-28.svg</h3>
<img src="images/ASISTENCIA2-28.svg" height="70px">
<h3>ASISTENCIA2-29.svg</h3>
<img src="images/ASISTENCIA2-29.svg" height="70px">
<h3>ASISTENCIA2-30.svg</h3>
<img src="images/ASISTENCIA2-30.svg" height="70px">
<h3>ASISTENCIA2-31.svg</h3>
<img src="images/ASISTENCIA2-31.svg" height="70px">
<h3>ASISTENCIA2-32.svg</h3>
<img src="images/ASISTENCIA2-32.svg" height="70px">
<h3>ASISTENCIA2-33.svg</h3>
<img src="images/ASISTENCIA2-33.svg" height="70px">
<h3>ASISTENCIA2-34.svg</h3>
<img src="images/ASISTENCIA2-34.svg" height="70px">
<h3>ASISTENCIA2-35.svg</h3>
<img src="images/ASISTENCIA2-35.svg" height="70px">
<h3>ASISTENCIA2-36.svg</h3>
<img src="images/ASISTENCIA2-36.svg" height="70px">
<h3>ASISTENCIA2-37.svg</h3>
<img src="images/ASISTENCIA2-37.svg" height="70px">
<h3>ASISTENCIA3-23.svg</h3>
<img src="images/ASISTENCIA3-23.svg" height="70px">
<h3>ASISTENCIA3-25.svg</h3>
<img src="images/ASISTENCIA3-25.svg" height="70px">
<h3>ASISTENCIA3-26.svg</h3>
<img src="images/ASISTENCIA3-26.svg" height="70px">
<h3>ASISTENCIA3-38.svg</h3>
<img src="images/ASISTENCIA3-38.svg" height="70px">
<h3>ASISTENCIA-17.svg</h3>
<img src="images/ASISTENCIA-17.svg" height="70px">
<h3>ASISTENCIA-18.svg</h3>
<img src="images/ASISTENCIA-18.svg" height="70px">
<h3>ASISTENCIA-19.svg</h3>
<img src="images/ASISTENCIA-19.svg" height="70px">
<h3>ASISTENCIA-20.svg</h3>
<img src="images/ASISTENCIA-20.svg" height="70px">
<h3>ASISTENCIA-21.svg</h3>
<img src="images/ASISTENCIA-21.svg" height="70px">
<h3>ASISTENCIA-22.svg</h3>
<img src="images/ASISTENCIA-22.svg" height="70px">
<h3>ASISTENCIA-23.svg</h3>
<img src="images/ASISTENCIA-23.svg" height="70px">

</body>
</html>